<nav class="header-wrapper navbar navbar-expand-sm navbar-light bg-light pb-0" id="my-nav">
  <div class="navbar-brand">

      <div class="title"> My Library
      </div>
      <img id="img" src="..\assets\books1.svg">
  </div>

</nav>